/* ////////////////////////////////////////////////// */
/* //////////////////// dashboard /////////////////// */
/* ////////////////////////////////////////////////// */
#dashboard {
  flex: 1;
  position: relative;
  overflow: auto;
}

.dashboard_container {
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dashboard_container::-webkit-scrollbar {
  display: none;
}

.top_container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4rem 0 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
  background: linear-gradient(to bottom right, #46ecce, #7146ec);
  z-index: 1;
}

.top_container .top {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  color: var(--color_light);
}

.top_container .bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0 2.4rem;
}

.top_container .left,
.top_container .right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
  padding: 1.6rem 2.4rem;
  border-radius: 1.6rem;
  background: var(--color_light);
}

.top_container .mode {
  text-transform: uppercase;
  color: var(--color_dark);
}

.top_container .amount {
  color: var(--color_primary);
}

/* //////////////// Main Container /////////////// */
.main_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.6rem 1.6rem 9rem;
  background: var(--color_light);
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  box-shadow: 0 -1rem 2.5rem rgba(21, 10, 51, 0.1);
  z-index: 3;
}

.main_container .income_expense_section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.main_container .income_expense {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 3.2rem;
  padding: 1.6rem;
  border-radius: 1.6rem;
  background: var(--color_white);
}

.main_container .income_expense .icon {
  height: 2rem;
  width: 2rem;
  stroke-width: 0.25rem;
}

.main_container .income_expense .top {
  width: 100%;
  display: flex;
  position: relative;
}

.main_container .income_expense .top .indicator {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
  height: 100%;
  width: 50%;
  border-radius: 1.2rem;
  background: var(--color_primary_1);
  z-index: 0;
  transition: all 0.3s;
}

.main_container .btn_income,
.main_container .btn_expense {
  position: relative;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border: none;
  background: transparent;
  width: 50%;
  padding: 1.2rem;
}

.main_container .btn_income {
  color: var(--color_light);
  transition: all 0.3s;
}

.main_container .btn_income .icon {
  transform: rotate(-145deg);
}

.main_container .btn_expense {
  color: var(--color_dark);
  transition: all 0.3s;
}

.main_container .btn_expense .icon {
  transform: rotate(35deg);
}

.main_container .btn_income .h5_semi,
.main_container .btn_expense .h5_semi {
  text-transform: uppercase;
}

.main_container .btn_income {
  color: var(--color_light);
}

.main_container .income_expense .bottom {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  color: var(--color_primary);
}

.main_container .total .icon {
  transform: rotate(-145deg);
  transition: all 0.3s;
}

.main_container .income .icon {
  transform: rotate(-145deg);
}

.main_container .expense .icon {
  transform: rotate(35deg);
}

/* ///////////// Online, Bank & Cash section ///////////// */
/* /////////////////////////////////////////////////////// */
.income_expense_section.spend .earn_amount,
.income_expense_section.spend .total_earn {
  display: none;
}

.income_expense_section.earn .spend_amount,
.income_expense_section.earn .total_spend {
  display: none;
}

.cash_container,
.online_container,
.bank_container {
  color: var(--color_light);
  display: flex;
  align-items: center;
  padding: 1.6rem;
  background: var(--color_white);
  border-radius: 1.6rem;
  justify-content: space-between;
}

.cash_container .left,
.online_container .left,
.bank_container .left {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.cash_container .txt,
.online_container .txt,
.bank_container .txt {
  color: var(--color_dark);
}

.cash_container i,
.online_container i,
.bank_container i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border-radius: 50%;
  background: var(--color_dark);
}

.cash_container .amount,
.online_container .amount,
.bank_container .amount {
  color: var(--color_dark);
}

/* ////////// Budget section ///////////// */
.budget_section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 1.6rem;
}

.budget_box {
  display: flex;
  justify-content: space-between;
  background: var(--color_primary_1);
  border-radius: 1.6rem;
  width: 100%;
  padding: 1.6rem;
}

.budget_box i {
  color: var(--color_primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border-radius: 50%;
  background: var(--color_light);
}

.budget_box .left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.budget_box .left .top {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.budget_box .left .txt,
.budget_box .left .amount {
  color: var(--color_light);
}

.budget_box .right {
  position: relative;
}

.budget_box .right .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color_light);
}

.budget_box .ellipse {
  width: 11rem;
  height: 11rem;
  transform: rotate(-90deg);
}

.budget_box .ellipse .circle {
  width: 100%;
  height: 100%;
  stroke: var(--color_light);
  stroke-width: 0.8rem;
  stroke-dasharray: 28rem;
  stroke-dashoffset: 5.6rem;
}

/* ///////////////////////////////////////////////// */
.budget_section .budget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  border-radius: 1.6rem;
  background: var(--color_white);
}

.budget_section .budget .left_box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.budget_section .budget .left_box .logo_alphabet {
  color: var(--color_white);
  height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.budget_section .budget .left_box .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}

.budget_section .budget .left_box .right .amount {
  color: var(--color_primary);
}

.budget_section .budget .left_box .right .txt {
  color: var(--color_dark);
}

.budget_section .budget .right_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.budget_section .budget .right_box .ellipse {
  height: 5rem;
  width: 5rem;
  transform: rotate(-90deg);
}

.budget_section .budget .right_box .ellipse .circle {
  width: 100%;
  height: 100%;
  stroke-width: 1.2rem;
  stroke-dasharray: 27.02rem;
}

.c1 .circle {
  stroke: #ea6988;
}
.c2 .circle {
  stroke: #69b4ea;
}
.c3 .circle {
  stroke: #ea9f69;
}
.c4 .circle {
  stroke: #c6d147;
}

.budget_section .budget .right_box .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color_dark);
}

/*////////// Add transaction section ////////// */
/*/ //////////////////////////////////////////// */
#addTransaction {
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  height: 100%;
  width: 100%;
  padding: 4.8rem 2.4rem 2.4rem;
  background: var(--color_light);
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

#addTransaction .main_form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

#addTransaction .mode {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--color_white);
  border-radius: 1.2rem;
  z-index: 3;
}

#addTransaction label {
  text-align: center;
  padding: 1.2rem 0;
  width: 100%;
  position: relative;
  color: var(--color_dark);

  transition: all 0.3s;
}
#addTransaction .mode label[for="online"] {
  color: var(--color_white);
}

#addTransaction .modeIndicator {
  height: 100%;
  width: calc(100% / 3);
  border-radius: 1.2rem;
  background: var(--color_primary_1);
  position: absolute;
  top: 0;
  z-index: -1;
  transition: all 0.3s;
}

.modeIndicator.left {
  left: 0;
  transform: translateX(0);
}
.modeIndicator.center {
  left: 50%;
  transform: translateX(-50%);
}
.modeIndicator.right {
  left: 100%;
  transform: translateX(-100%);
}

/* //////////////////////////////////////////////// */
#addTransaction .category_box {
  position: relative;
  width: 100%;
  background: transparent;
}

#addTransaction input[type="radio"] {
  display: none;
}

#addTransaction.spend .category_box .earnCategory {
  display: none;
}

#addTransaction .category_box .category_list {
  position: absolute;
  left: 0;
  bottom: -0.8rem;
  transform: translateY(100%);
  width: 100%;
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background: var(--color_white);
  border-radius: 0.8rem;
  overflow: hidden;

  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: max-height 0.3s;
}

#addTransaction input:focus,
#addTransaction textarea:focus {
  background: var(--color_white);
}

#addTransaction .category_list.open {
  pointer-events: all;
  max-height: 26rem;
  opacity: 1;
}

#addTransaction .category_list .category_container {
  overflow: auto;
  padding: 1.2rem;
  height: 100%;
}

#addTransaction .category_box .category_list li {
  padding: 1rem;
  width: 100%;
  color: var(--color_dark);
}

#addTransaction .category_box .category_list .addCategory {
  border: none;
  padding: 1.6rem 3.2rem;
  background: var(--color_primary_1);
  color: var(--color_white);
  width: 100%;
}

#addTransaction input,
#addTransaction textarea {
  border: 0;
  outline: 0;
  padding: 0.8rem;
  width: 100%;
  background: transparent;
  border: 0.2rem solid var(--color_primary_1);
  border-radius: 0.8rem;
}

#addTransaction textarea {
  height: 12rem;
  resize: vertical;
}

#addTransaction .btn_container {
  display: flex;
  width: 100%;
  gap: 2rem;
}

#addTransaction .btnSubmit {
  border: none;
  padding: 1.6rem 3.2rem;
  color: var(--color_white);
  border-radius: 1.2rem;
  width: 100%;
}

#addTransaction [name="spend"] {
  background: var(--color_red);
}
#addTransaction [name="earn"] {
  background: var(--color_green);
}

#addTransaction.earn [name="spend"] {
  display: none;
}
#addTransaction.spend [name="earn"] {
  display: none;
}

#addTransaction .btnReset {
  background: transparent;
  border: 0;
  background: var(--color_dark);
  color: var(--color_light);
  padding: 1.6rem 3.2rem;
  border-radius: 1.2rem;
  width: 100%;
}

.overlay {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(230, 230, 230, 0.75);
  backdrop-filter: blur(0.2rem);
  transition: all 0.2s;
  z-index: 3;
}

.trBtn {
  cursor: pointer;
  border: none;
  position: absolute;
  right: 1.6rem;
  bottom: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
  border-radius: 1.6rem;
  box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.25);
}

/* Add button */
.addBtn {
  background: var(--color_primary);
  color: var(--color_light);
  z-index: 5;
}
.addBtn .icon {
  stroke-width: 2;
  transition: all 0.2s;
}

/* Earn button */
.earnBtn {
  opacity: 0;
  background: var(--color_green);
  color: var(--color_lite_green);
  z-index: 4;
  transition: all 0.2s;
}
.earnBtn .icon {
  transform: rotate(-135deg);
  stroke-width: 2;
}

/* Spend button */
.spendBtn {
  opacity: 0;
  background: var(--color_red);
  color: var(--color_lite_red);
  z-index: 4;
  transition: all 0.2s;
}
.spendBtn .icon {
  transform: rotate(45deg);
  stroke-width: 2;
}

/* --------------------------------- */
.earnBtn::after {
  content: "INCOME";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 1.6rem), -50%);
  color: var(--color_dark);
  font-size: 1.6rem;
  font-weight: 500;
}

.spendBtn::after {
  content: "EXPENSE";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 1.6rem), -50%);
  color: var(--color_dark);
  font-size: 1.6rem;
  font-weight: 500;
}
/*///////////////////////////////////////////// */

.open .spendBtn {
  transform: translateY(calc(-100% - 1.6rem));
  opacity: 1;
}
.open .earnBtn {
  transform: translateY(calc(-200% - 3.2rem));
  opacity: 1;
}
.open .addBtn .icon {
  transform: rotate(45deg);
}
.open .overlay {
  opacity: 1;
  pointer-events: all;
}
