:root {
  --color_primary: #7146ec;
  --color_primary_1: #8b69ea;
  --color_dark: #382d59;
  --color_light: #f0ebff;
  --color_white: #fbfafb;
  --color_lite_green: #c4f7c7;
  --color_green: #13b937;
  --color_lite_red: #f9e4e4;
  --color_red: #ee5d5d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  position: relative;
}

#mainPage {
  background: var(--color_light);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 36rem;
}

/* /////////// Different text size /////////// */
/* /////////////////////////////////////////// */
.h1_semi {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
}

.h2_medium {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
}

.h3_semi {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
}

.h3_medium {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
}

.h4_semi {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
}

.h4_medium {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
}

.h4_regular {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
}

.h5_semi {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
}

.h5_medium {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
}

.h5_regular {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
}

.h6_medium {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
}

/* /////////// Different shadows /////////// */
/* /////////////////////////////////////////// */
.btn_shadow {
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.1);
}

.component_shadow {
  box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.05);
}

.text_shadow {
  text-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
}

/* /////////////// Icon Styling ////////////// */
/* /////////////////////////////////////////// */
.icon {
  height: 2.2rem;
  width: 2.2rem;
  fill: none;
  stroke-width: 0.15rem;
  stroke: currentColor;
}

.icon_solid {
  height: 2.2rem;
  width: 2.2rem;
  fill: currentColor;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}
