{%PAGE%}
<nav id="navigation">
  <ul class="nav_list">
    <li class="nav_link">
      <a href="dashboard" class="link">
        <i name="dashboard_outline"></i>
        <p class="txt">dashboard</p>
      </a>
    </li>

    <li class="nav_link">
      <a href="budget" class="link">
        <i name="budget_outline"></i>
        <p class="txt">budget</p>
      </a>
    </li>

    <li class="nav_link">
      <a href="transaction" class="link">
        <i name="transaction_outline"></i>
        <p class="txt">transaction</p>
      </a>
    </li>

    <li class="nav_link">
      <a href="profile" class="link">
        <i name="profile_outline"></i>
        <p class="txt">profile</p>
      </a>
    </li>
  </ul>
</nav>
<script type="module" src="iconPack.js"></script>
