<!-- ////// The authentication page starts from here ////// -->
<!-- ////////////////////////////////////////////////////// -->
<main id="authentication_page" class="authentication_page">{%LOG_SIGN%}</main>
<!-- ////////// End of Authentication page ////////// -->
