<main id="budget">
  <h4 class="txt h3_medium">Set your budget</h4>
  <div class="budget_container">
    {%BUDGET_LIST%}

    <button class="btnAdd btn_shadow">
      <i name="add_outline"></i>
    </button>
  </div>

  <!-- Add Budget section -->
  <form action="" id="addBudget">
    <div class="mainForm">
      <input
        type="number"
        name=""
        id=""
        class="budgetAmount h4_regular"
        placeholder="Amount" />

      <div class="category_box">
        <input
          type="text"
          name=""
          id=""
          class="category h4_regular"
          placeholder="Category" />
        <ul class="spendCategory category_list component_shadow">
          <div class="category_container">{%CATEGORY_LIST%}</div>
          <button type="button" class="addCategory h4_medium">
            ADD AS NEW
          </button>
        </ul>
      </div>
    </div>

    <button type="submit" name="addBudget" class="h4_medium btn_shadow">
      SET BUDGET
    </button>
  </form>
</main>
