<main id="budget">
  <h4 class="txt h3_medium">Set your budget</h4>
  <div class="budget_container">
    {%BUDGET_LIST%}

    <button class="btnAdd btn_shadow">
      <i name="add_outline"></i>
    </button>
  </div>
</main>
