<main id="dashboard">
  <div class="dashboard_container">
    <div class="top_container">
      <div class="top">
        <h5 class="txt h5_medium">your wealth</h5>
        <h1 class="wealth h1_semi text_shadow">$ {%TOTAL_WEALTH%}</h1>
      </div>
      <div class="bottom">
        <div class="left component_shadow">
          <h5 class="mode h5_medium">cash</h5>
          <h4 class="amount h4_medium">$ {%TOTAL_CASH%}</h4>
        </div>
        <div class="right component_shadow">
          <h5 class="mode h5_medium">bank</h5>
          <h4 class="amount h4_medium">$ {%TOTAL_BANK%}</h4>
        </div>
      </div>
    </div>

    <div class="main_container">
      <section class="income_expense_section earn">
        <div class="income_expense component_shadow">
          <div class="top">
            <span class="indicator"></span>
            <button class="btn btn_income">
              <p class="h5_semi">income</p>
              <i name="arrow_outline"></i>
            </button>

            <button class="btn btn_expense">
              <p class="h5_semi">expense</p>
              <i name="arrow_outline"></i>
            </button>
          </div>

          <div class="bottom total">
            <h3 class="h3_medium total_earn">$ {%TOTAL_EARN%}</h3>
            <h3 class="h3_medium total_spend">$ {%TOTAL_SPEND%}</h3>
            <i name="arrow_outline"></i>
          </div>
        </div>

        <!-- ///////////// Online, Bank & Cash section ///////////// -->
        <!-- /////////////////////////////////////////////////////// -->
        <div class="online_container component_shadow">
          <div class="left">
            <i name="qr_outline"></i>
            <h4 class="txt h4_semi">online</h4>
          </div>
          <h4 class="amount h4_medium earn_amount">$ {%ONLINE_EARN_AMOUNT%}</h4>
          <h4 class="amount h4_medium spend_amount">
            $ {%ONLINE_SPEND_AMOUNT%}
          </h4>
        </div>

        <div class="cash_container component_shadow">
          <div class="left">
            <i name="cash_outline"></i>
            <h4 class="txt h4_semi">cash</h4>
          </div>
          <h4 class="amount h4_medium earn_amount">$ {%CASH_EARN_AMOUNT%}</h4>
          <h4 class="amount h4_medium spend_amount">$ {%CASH_SPEND_AMOUNT%}</h4>
        </div>

        <div class="bank_container component_shadow">
          <div class="left">
            <i name="bank_outline"></i>
            <h4 class="txt h4_semi">bank</h4>
          </div>
          <h4 class="amount h4_medium earn_amount">$ {%BANK_EARN_AMOUNT%}</h4>
          <h4 class="amount h4_medium spend_amount">$ {%BANK_SPEND_AMOUNT%}</h4>
        </div>
      </section>

      <!-- ///////////// Budget Section /////////////// -->
      <!-- //////////////////////////////////////////// -->
      <section class="budget_section">
        <div class="budget_box component_shadow budget_cir">
          <div class="left">
            <div class="top">
              <i name="budget_outline"></i>
              <h3 class="txt h3_semi">Your budget</h3>
            </div>
            <h4 class="amount h4_semi text_shadow">
              ${%SPEND_BUDGET%} / ${%TOTAL_BUDGET%}
            </h4>
          </div>

          <div class="right">
            <svg width="100" height="100" viewBox="0 0 100 100" class="ellipse">
              <circle
                r="45"
                cx="50"
                cy="50"
                fill="transparent"
                stroke-linecap="round"
                class="circle"></circle>
            </svg>
            <h3 class="percentage h3_semi text_shadow">
              {%TOTAL_BUDGET_PERCENTAGE%}%
            </h3>
          </div>
        </div>
        {%BUDGET_LIST%}
      </section>
    </div>
  </div>
  <!-- ////////////////// Add transaction section /////////////////// -->
  <!-- ////////////////////////////////////////////////////////////// -->
  <button class="trBtn addBtn"><i name="add_outline"></i></button>
  <button class="trBtn earnBtn"><i name="arrow_outline"></i></button>
  <button class="trBtn spendBtn"><i name="arrow_outline"></i></button>
  <div class="overlay"></div>

  <form action="" id="addTransaction">
    <div class="main_form">
      <div class="mode component_shadow">
        <input type="radio" name="mode" id="online" />
        <label for="online" class="h4_medium">ONLINE</label>

        <input type="radio" name="mode" id="cash" />
        <label for="cash" class="h4_medium">CASH</label>

        <input type="radio" name="mode" id="bank" />
        <label for="bank" class="h4_medium bank_label">BANK</label>
        <span class="modeIndicator left"></span>
      </div>

      <div class="category_box">
        <input
          type="text"
          name=""
          id=""
          class="category h4_regular"
          placeholder="Category" />
        <ul class="spendCategory category_list component_shadow">
          {%SPEND_LIST%}
          <button type="button" class="addCategory h4_medium">
            ADD AS NEW
          </button>
        </ul>
        <ul class="earnCategory category_list component_shadow">
          {%EARN_LIST%}
          <button type="button" class="addCategory h4_medium">
            ADD AS NEW
          </button>
        </ul>
      </div>

      <input
        type="number"
        name=""
        id=""
        class="amount h4_regular"
        placeholder="Amount" />

      <textarea
        name=""
        id=""
        class="amount h4_regular"
        placeholder="Your comment"></textarea>
    </div>

    <div class="btn_container">
      <button type="reset" class="h4_medium btnReset btn_shadow">RESET</button>
      <button type="submit" name="spend" class="h4_medium btnSubmit btn_shadow">
        SPEND
      </button>
      <button type="submit" name="earn" class="h4_medium btnSubmit btn_shadow">
        EARN
      </button>
    </div>
  </form>
  <!-- ////////////////////////////////////////////////////////////// -->
</main>
