<main id="profile">
  <div class="box">
    <h5 class="h5_regular txt">Wellcome</h5>
    <h2 class="h2_medium name">{%USER_NAME%}</h2>
  </div>
  <div class="profile_container">
    <!-- <div class="box">
      <h5 class="h5_regular txt">User ID</h5>
      <h3 class="h3_semi">{%USER_ID%}</h3>
    </div> -->
    <div class="box">
      <h5 class="h5_regular txt">Email ID</h5>
      <h4 class="h4_medium email">{%EMAIL%}</h4>
    </div>

    <button class="h5_semi">LOG OUT</button>
  </div>
</main>
