<main id="transaction">
  <section class="filter component_shadow">
    <div class="duration">
      <div class="component_shadow">
        <form action="" id="durationForm">
          <input
            type="text"
            name=""
            class="h5_semi btnDuration"
            disabled
            value="1 MONTH" />
          <ul class="h5_semi">
            <li>1 MONTH</li>
            <li>6 MONTHS</li>
            <li>1 YEAR</li>
            <li>2 YEARS</li>
          </ul>
        </form>
      </div>
    </div>

    <button class="btnFilter h5_semi btn_shadow">FILTER</button>
  </section>

  <section class="list_section">{%TRANSACTION_LIST%}</section>
</main>
