<!-- ////////////// This is the log_in page ///////////// -->
<!-- //////////////////////////////////////////////////// -->
<section id="log_in_page" class="log_in_page">
  <h1 class="main_heading h2_medium">log in here</h1>
  <form action="" id="log_in_form">
    <input
      type="text"
      name="user_name"
      placeholder="user name"
      class="user_name h5_regular"
      required />

    <input
      type="password"
      name="password"
      placeholder="password"
      class="password h5_regular"
      required />
    <input
      type="submit"
      value="log in"
      class="log_in_button h4_semi btn_shadow" />
  </form>
  <p class="txt h5_regular">
    don't have an account?
    <a href="#sign_up_page" class="link h5_regular">sign up here</a>
  </p>
</section>
