<!-- ///////////// This is the sign_up page ///////////// -->
<!-- //////////////////////////////////////////////////// -->
<section id="sign_up_page" class="sign_up_page">
  <h1 class="main_heading h2_medium">create an account</h1>

  <form action="" id="sign_up_form">
    <input
      type="text"
      name="first_name"
      placeholder="first name"
      class="first_name h5_regular"
      required />

    <input
      type="text"
      name="last_name"
      placeholder="last name"
      class="last_name h5_regular"
      required />

    <input
      type="text"
      name="user_name"
      placeholder="user name"
      class="user_name h5_regular"
      required />

    <input
      type="email"
      name="email"
      placeholder="email address"
      class="email h5_regular"
      required />

    <input
      type="password"
      name="password"
      placeholder="password"
      class="password h5_regular"
      required />

    <input
      type="password"
      name="password"
      placeholder="confirm password"
      class="confirm_password h5_regular"
      required />

    <input
      type="submit"
      value="sign up"
      class="sign_up_button h4_semi btn_shadow" />
  </form>
  <p class="txt h5_regular">
    already have an account?
    <a href="log_in" class="link h5_regular">log in here</a>
  </p>
</section>
