<div class="item component_shadow">
  <div class="top_box">
    <h4 class="txt h4_medium">{%TRANSACTION_CATEGORY%}</h4>
    <div class="value_box">
      <h4 class="h4_medium {%TRANSACTION_TYPE%}">{%TRANSACTION_AMOUNT%}</h4>
      <button class="btn btnEdit">
        <i name="pencil_solid"></i>
      </button>
      <button class="btn btnSubmit">
        <i name="tick_outline"></i>
      </button>
      <button class="btn btnClose">
        <i name="close_outline"></i>
      </button>
    </div>
  </div>

  <div class="bottom_box">
    <h6 class="h6_medium">{%TRANSACTION_COMMENT%}</h6>
  </div>
</div>
