<!-- When a user will submit this form. the data should be updated -->
<form action="" class="item component_shadow">
  <div class="top_box">
    <input
      type="text"
      name=""
      class="txt h4_medium"
      id="category_name"
      value="{%TRANSACTION_CATEGORY%}"
      disabled />

    <div class="value_box">
      <div class="{%TRANSACTION_TYPE%} transaction_amount_container">
        <span class="h4_medium">{%SIGN%}</span>
        <input
          type="text"
          class="h4_medium"
          name=""
          id="transaction_amount"
          value="{%TRANSACTION_AMOUNT%}"
          disabled />
      </div>

      <button class="btn btnEdit" type="button">
        <i name="pencil_solid"></i>
      </button>

      <button class="btn btnSubmit" type="button">
        <i name="tick_outline"></i>
      </button>

      <button class="btn btnClose" type="button">
        <i name="close_outline"></i>
      </button>
    </div>
  </div>

  <div class="bottom_box comment">
    <input
      type="text"
      class="h6_medium"
      name=""
      id="comment"
      value="{%TRANSACTION_COMMENT%}"
      disabled />
  </div>
</form>
