<form action="" class="budget component_shadow">
  <div class="left_box">
    <h1 class="logo_alphabet h2_medium text_shadow">{%LOGO_ALPHABET%}</h1>
    <div class="right">
      <input
        type="text"
        name=""
        class="txt h4_medium"
        id="budget_name"
        value="{%BUDGET_NAME%}"
        disabled />

      <div>
        <span class="h4_medium">$</span>
        <input
          type="number"
          name=""
          class="amount h4_medium"
          id="budget_amount"
          value="{%BUDGET_AMOUNT%}"
          disabled />
      </div>
    </div>
  </div>

  <div class="right_box">
    <button class="btn btnEdit" type="button">
      <i name="pencil_solid"></i>
    </button>
    <button class="btn btnClose" type="button">
      <i name="close_outline"></i>
    </button>
    <button class="btn btnSubmit" type="button">
      <i name="tick_outline"></i>
    </button>
  </div>
</form>
