<div class="budget component_shadow">
  <div class="left_box">
    <h1 class="logo_alphabet h2_medium text_shadow">{%LOGO_ALPHABET%}</h1>
    <div class="right">
      <h4 class="txt h4_medium">{%BUDGET_NAME%}</h4>
      <h5 class="amount h5_medium">${%BUDGET_AMOUNT%}</h5>
    </div>
  </div>

  <div class="right_box">
    <button class="btn btnEdit"><i name="pencil_solid"></i></button>
    <button class="btn btnClose"><i name="close_outline"></i></button>
    <button class="btn btnSubmit"><i name="tick_outline"></i></button>
  </div>
</div>
